body {
    background-color: #C8F4F9;
}

#header-div:hover {
    text-decoration: none;
}

#header {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    align-items: center;
}

.logo {
    max-height: 300px;
    float: left;
}

#over {
    z-index: 2;
    position: relative;
    animation: crotation 8s infinite linear;
}

#under {
    z-index: 1;
    position: relative;
    left: -300px;
    animation: ccrotation 8s infinite linear;
}

@keyframes crotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes ccrotation {
    from { transform: rotate(359deg); }
    to { transform: rotate(0deg); }
}

#titles {
    color: black;
    position: relative;
    left: -250px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#web-title {
    font-size: 100px;
    font-family: 'Quantico', sans-serif;
}

#web-subtitle {
    font-size: 40px;
    font-family: 'Jura', sans-serif;
}

.heading {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
}

.subheading {
    font-family: 'Jura', sans-serif;
}

#navbar-main {
    margin-top: 100px;
}

.navbar-custom {
    background-color: #EEB5EB;
    height: 75px;
}

.card-img-custom {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
    width: auto;
}

/*#main-box {*/
/*    margin-top: 42+313;*/
/*}*/

.btn, .btn-custom {
    background-color: #3CACAE;
    border-color: #3CACAE;
    font-family: 'Jura', sans-serif;
    color: white;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:hover:active,
a.btn:hover {
    background-color: #236A6B;
    border-color: #236A6B;
    color: white;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #236A6B;
    color: white;
    text-align: center;
}