<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="alert alert-custom alert-dismissible subheading" id="exit-alert">
        Exiting this page will not save your game. Do you want to <a href="#" class="heading" id="exit-alert-link">proceed</a>
        or <a href="#" class="heading" id="exit-alert-stay">continue editing</a> ?
    </div>
</body>
</html>