.heading {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
}

.subheading {
    font-family: 'Jura', sans-serif;
}

.logo {
    max-height: 300px;
    float: left;
}

#over {
    z-index: 2;
    position: relative;
    animation: crotation 8s infinite linear;
}

#under {
    z-index: 1;
    position: relative;
    left: -300px;
    animation: ccrotation 8s infinite linear;
}

@keyframes crotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes ccrotation {
    from { transform: rotate(359deg); }
    to { transform: rotate(0deg); }
}

#web_title {
    font-size: 100px;
    font-family: 'Jura', sans-serif;
}

#web_subtitle {
    font-size: 40px;
    font-family: 'Quantico', sans-serif;
}

#titles {
    color: black;
    position: relative;
    left: -250px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.jumbotron {
    background-color: #C8F4F9;
    padding-bottom: 100px;
}

#webpage:hover {
    text-decoration: none;
}

body {
    background-color: #EEB5EB;
    min-height: 2000px;
    overflow: hidden;
}
#header {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 400ms;
}