.heading {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
}

.subheading {
    font-family: 'Jura', sans-serif;
}

.logo {
    max-height: 300px;
    float: left;
}

#web_title {
    font-size: 100px;
    font-family: 'Jura', sans-serif;
}

#web_subtitle {
    font-size: 40px;
    font-family: 'Quantico', sans-serif;
}

#titles {
    color: black;
    position: relative;
    left: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
 }

#webpage:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: #C8F4F9;
    margin-bottom: 0;
}

#startup_box {
    margin-top: 50px;
}

.form_text, .form-control {
    font-family: 'Jura', sans-serif;
}

#login_box {
    background-color: #EEB5EB;
    padding: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}

#register_box {
    background-color: #C26DBC;
    padding: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}

.btn, .btn-custom, #spec_button {
    background-color: #3CACAE;
    border-color: #3CACAE;
    color: white;
}

.btn-custom:enabled:hover,
.btn-custom:enabled:active,
.btn-custom:enabled:hover:active,
#spec_button:hover,
#spec_button:active {
    background-color: #236A6B;
    border-color: #236A6B;
    color: white;
}

.btn-custom:disabled:hover,
.btn-custom:disabled:active,
.btn-custom:disabled:hover:active {
    cursor: default;
    color: white;
}

body {
    background-color: #C8F4F9;
    overflow: hidden;
}